@keyframes btnName {
  form {
    background: rgba(96, 203, 27, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset, 0 0 3px rgba(220, 120, 200, 0.5);
    color: red; }
  25% {
    background: rgba(196, 203, 27, 0.8);
    -webkit-box-shadow: 0 0 10px rgba(255, 155, 255, 0.5) inset, 0 0 8px rgba(120, 120, 200, 0.8);
    color: blue; }
  50% {
    background: #c4cb7f;
    -webkit-box-shadow: 0 0 5px rgba(155, 255, 255, 0.3) inset, 0 0 3px #dc7864;
    color: orange; }
  75% {
    background: rgba(196, 203, 27, 0.8);
    -webkit-box-shadow: 0 0 10px rgba(255, 155, 255, 0.5) inset, 0 0 8px rgba(120, 120, 200, 0.8);
    color: black; }
  to {
    background: rgba(96, 203, 27, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset, 0 0 3px rgba(220, 120, 200, 0.5);
    color: green; } }
@keyframes QinName {
  form {
    -webkit-transform: rotate(36deg);
    -webkit-border-radius: 2px; }
  10% {
    -webkit-transform: rotate(72deg);
    -webkit-border-radius: 4px; }
  20% {
    -webkit-transform: rotate(108deg);
    -webkit-border-radius: 6px; }
  30% {
    -webkit-transform: rotate(144deg);
    -webkit-border-radius: 9px; }
  40% {
    -webkit-transform: rotate(180deg);
    -webkit-border-radius: 12px; }
  50% {
    -webkit-transform: rotate(216deg);
    -webkit-border-radius: 14px; }
  60% {
    -webkit-transform: rotate(252deg);
    -webkit-border-radius: 16px; }
  70% {
    -webkit-transform: rotate(288deg);
    -webkit-border-radius: 19px; }
  80% {
    -webkit-transform: rotate(324deg);
    -webkit-border-radius: 22px; }
  to {
    -webkit-transform: rotate(360deg);
    -webkit-border-radius: 25px; } }
.qin {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  background: red;
  overflow: hidden;
  margin-bottom: 20px; }

.qin_content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: rgba(111,222,333,.4);
  text-align: center;
  line-height: 100px;
  color: #fff;
  transform: translateY(-100px);
  transition: transform 300ms linear
}




.round {
  border-radius: 10px;
  background: green;
  animation: QinName 10s ease infinite; }

.btn {
  background: #60cb1b;
  font-size: 16px;
  padding: 10px 15px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.6) inset, 0 0 3px rgba(220, 120, 200, 0.8);
  animation: btnName 5s infinite; }

.menu ul {
  border-top: 15px solid black;
  padding: 0 10px;
  list-style: none; }
  .menu ul li {
    float: left; }
  .menu ul li a::selection {
    background: red;
    color: #fff; }
  .menu ul li a {
    color: #fff;
    float: left;
    margin: 0 5px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 65px;
    padding: 10px 5px;
    background: #151515;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -moz-box-shadow: 0 0 1px #ccc, inset 0 0 2px #fff;
    -webkit-box-shadow: 0 0 1px #ccc, inset 0 0 2px #fff;
    box-shadow: 0 0 1px #ccc, inset 0 0 2px #fff;
    text-shadow: 0 1px 1px #686868;
    text-decoration: none;
    transition: transform 300ms linear; }
  .menu ul li.translate a {
    background: #2ec7d2; }
  .menu ul li.translate a:hover {
    transform: translate(-10px, -10px); }
  .menu ul li.translate-x a {
    background: #8FDD21; }
  .menu ul li.translate-x a:hover {
    transform: translateX(-10px); }
  .menu ul li.translate-y a:hover {
    transform: translateY(-10px); }
  .menu ul li.translate-y a {
    background: #F45917; }
  .menu ul li.rotate a:hover {
    transform: rotate(45deg); }
  .menu ul li.rotate a {
    background: #D50E19; }
  .menu ul li.scale a:hover {
    transform: scale(0.8, 0.8); }
  .menu ul li.scale a {
    background: #cdddf2; }
  .menu ul li.scale-x a:hover {
    transform: scaleX(0.8); }
  .menu ul li.scale-x a {
    background: #0fDD21; }
  .menu ul li.scale-y a:hover {
    transform: scaleY(1.2); }
  .menu ul li.scale-y a {
    background: #cd5917; }
  .menu ul li.skew a:hover {
    transform: skew(45deg, 15deg); }
  .menu ul li.skew a {
    background: #519; }
  .menu ul li.skew-y a:hover {
    transform: skewY(30deg); }
  .menu ul li.skew-y a {
    background: #D50; }
  .menu ul li.skew-x a:hover {
    transform: skewX(-30deg); }
  .menu ul li.skew-x a {
    background: #E19; }
  .menu ul li.matrix a:hover {
    transform: skewY(30deg); }
  .menu ul li.matrix a {
    background: #919; }




  /*切角 CSS3*/

.uiTabs {
  overflow: auto;
  width: 100%;
  margin: 0;
  padding: 10px 0 0;
  background: #eee;
}

.uiTabs li {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none outside none;
}

.uiTabs a {
  -moz-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
  box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
  background: #ad1c1c;
  background: -moz-linear-gradient(220deg, transparent 10px, #ad1c1c 10px);
  background: -webkit-linear-gradient(220deg, transparent 10px, #ad1c1c 10px);
  background: -ms-linear-gradient(220deg, transparent 10px, #ad1c1c 10px);
  background: -o-linear-gradient(220deg, transparent 10px, #ad1c1c 10px);
  background: linear-gradient(220deg, transparent 10px, #ad1c1c 10px);
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  color: #fff;
  float: left;
  font: bold 12px/35px 'Lucida sans', Arial, Helvetica;
  height: 35px;
  padding: 0 30px;
  text-decoration: none;
}
.uiTabs a:hover	{
  background: #c93434;
  background: -moz-linear-gradient(220deg, transparent 10px, #c93434 10px);
  background: -webkit-linear-gradient(220deg, transparent 10px, #c93434 10px);
  background: -ms-linear-gradient(220deg, transparent 10px, #c93434 10px);
  background: -o-linear-gradient(220deg, transparent 10px, #c93434 10px);
  background: linear-gradient(220deg, transparent 10px, #c93434 10px);
}
.uiTabs a:focus	{
  outline: 0;
}
.uiTabs a.current {
  background: #fff;
  background: -moz-linear-gradient(220deg, transparent 10px, #fff 10px);
  background: -webkit-linear-gradient(220deg, transparent 10px, #fff 10px);
  background: -ms-linear-gradient(220deg, transparent 10px, #fff 10px);
  background: -o-linear-gradient(220deg, transparent 10px, #fff 10px);
  background: linear-gradient(220deg, transparent 10px, #fff 10px);
  text-shadow: none;
  color: #333;
}
#uiTabContent{
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background-image: -webkit-linear-gradient(top, #fff, #ddd);
  background-image: -moz-linear-gradient(top, #fff, #ddd);
  background-image: -ms-linear-gradient(top, #fff, #ddd);
  background-image: -o-linear-gradient(top, #fff, #ddd);
  background-image: linear-gradient(top, #fff, #ddd);
  -moz-border-radius: 0 2px 2px 2px;
  -webkit-border-radius: 0 2px 2px 2px;
  border-radius: 0 2px 2px 2px;
  -moz-box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
  -webkit-box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
  box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
  padding: 30px;
  color: #444;
}
#uiTabContent > div{
  display: none;
}


/*-------------------------------*/


.button	{
  display: inline-block;
  white-space: nowrap;
  background-color: #ccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
  background-image: -webkit-linear-gradient(top, #eee, #ccc);
  background-image: -moz-linear-gradient(top, #eee, #ccc);
  background-image: -ms-linear-gradient(top, #eee, #ccc);
  background-image: -o-linear-gradient(top, #eee, #ccc);
  background-image: linear-gradient(top, #eee, #ccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
  border: 1px solid #777;
  padding: 0 1.5em;
  margin: 0.5em;
  font: bold 1em/2em Arial, Helvetica;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  -moz-border-radius: .2em;
  -webkit-border-radius: .2em;
  border-radius: .2em;
  -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
  box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.button:hover	{
  background-color: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
  background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
  background-image: -moz-linear-gradient(top, #fafafa, #ddd);
  background-image: -ms-linear-gradient(top, #fafafa, #ddd);
  background-image: -o-linear-gradient(top, #fafafa, #ddd);
  background-image: linear-gradient(top, #fafafa, #ddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
}

.button:active {
  -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
  -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
  box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
  position: relative;
  top: 1px;
}

.button:focus {
  outline: 0;
  background: #fafafa;
}

.button:before {
  background: #ccc;
  background: rgba(0,0,0,.1);
  float: left;
  width: 1em;
  text-align: center;
  font-size: 1.5em;
  margin: 0 1em 0 -1em;
  padding: 0 .2em;
  -moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
  -webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
  box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
  -moz-border-radius: .15em 0 0 .15em;
  -webkit-border-radius: .15em 0 0 .15em;
  border-radius: .15em 0 0 .15em;
}
.add:before	{content: "\271A";}
.edit:before {content: "\270E";}
.delete:before{content: "\2718";}
.save:before { content: "\2714";}
.email:before{ content: "\2709";}
.like:before{ content: "\2764";}
.next:before{content: "\279C";}
.star:before{content: "\2605";}
.spark:before{content: "\2737";}
.play:before{content: "\25B6";}
/*# sourceMappingURL=falls_flex.css.map */
